* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: #e5e5e5;
}

header {
  background-color: #fff;
}

.inside-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  width: 80%;
  height: 60px;
  margin: auto;
}

.logo {
  font-size: 18px;
  color: #6070ff;
}

.burger {
  width: 40px;
  height: 5px;
  margin-top: 4px;
  background-color: #6070ff;
  border-radius: 5px;
}

.main-text {
  background: url('img/bg_Header.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #fff;
  height: calc(100vh - 60px);
  border-radius: 0 0 0 100px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-top: 50px;
  color: #172b4d;
}

.connect {
  margin-top: 10px;
  display: flex;
}

.connect a {
  display: inline-block;
}

nav ul a:hover {
  color: #6070ff;
  font-size: 25px;
}

.connect a:hover {
  transform: rotate(-20deg);
}

.connect li {
  padding: 5px;
}

.header_body {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: auto;
}

.header_body p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-top: 50px;
}

h4 {
  color: #7f8cff;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin-top: 30px;
}

.end {
  height: 114px;
}
